<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/custom-style.css">
</head>
<body class="dark:bg-zinc-900 bg-white">
    <script src="/javascripts/script.js"></script>
</body>
</html>